<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1><u>Employee Details</u></h1>
    
    <table style="border: 3px solid black;">
        
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Department</th>
                <th>Age</th>
                <th>Email ID</th>
                <th>Contact Number</th>
            </tr>
                {% for e in emp %}
            <tr>
                <td>{{e.id}}</td>
                <td>{{e.employ_name}}</td>
                <td>{{e.department}}</td>
                <td>{{e.age}}</td>
                <td>{{e.email}}</td>
                <td>{{e.contact_number}}</td>
                <td><a href="{% url 'editpage' e.id %}">Edit</a></td><br>
                <td><a href="{% url 'deletepage' e.id %}">Delete</a></td><br>
            </tr>
            {% endfor %}
    </table>
</center>
</body>
</html>